<!-- /templates/question-1.html-->
<!-- ESPA 2022 -->
<html>
    <!-- Sets the title and imports bootstrap -->
    <head>
        <title>ESPA - Energy Supply Project Analysis</title>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <!-- Dynamically displays option fields based on radio button selection -->
        <script>
          function appearTxt() 
          {
            // Retrieves selection status of all radio buttons
            var radioBtnMon = document.getElementById("monthOption").checked;
            var radioBtnYr = document.getElementById("yearOption").checked;
            var radioBtnMin = document.getElementById("15MOption").checked;

            // Selects the different field options
            var minTxt = document.getElementById("minSel");
            var mthTxt = document.getElementById("monthSel");
            var yearTxt = document.getElementById("yearSel");

            var base = document.getElementById("base");

            // Depending on radio button, populate input options
            // with different text
            if (radioBtnMon)
            {
              base.innerHTML = mthTxt.innerHTML;
            }

            if (radioBtnYr)
            {
              base.innerHTML = yearTxt.innerHTML;
            }

            if (radioBtnMin)
            {
              base.innerHTML = minTxt.innerHTML;
            }

          }

          function appearCheck() {
            var meterCheck = document.getElementById("meterCheck").checked;
            var q1checkbox = document.getElementById("q1check")
            var checkbase = document.getElementById("checkbase");

            if (meterCheck) {
              checkbase.innerHTML = q1checkbox.innerHTML;
            } else {
			  checkbase.innerHTML = "";
			}

          }
        </script>
    
      </head>

    <!-- Responsible for the navbar, uses bootstrap template -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary px-2 mb-3">
        <a class="navbar-brand" href="/">ESPA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/question1">Energy Efficiency</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/question2">Energy Reliability</a>
            </li>
          </ul>
        </div>
      </nav>

    <!-- Includes all the form data for question one -->  
    <body>
    <h3 class="text-center mb-3">Energy Efficiency</h3>
    <h5 class="text-center mb-5 ps-3 font-weight-bold">How can energy from the electric-grid and energy from the power plant differ in terms of their supply efficiency?</h5>
	  <!-- 
        Displays all of the possible values that can exist
         in the form 
    -->  
        <form action="/questionone_handler" method="POST">
          <div class="row mb-3 ps-3">
          <div class="fieldq1 col-4 ps-3" id = "checkbase">
          </div>
          <div class="checkq1 col-4" id="q1check" style="display: none">
          <h5>Select an energy source: </h5>
          <div>
            <input type="checkbox" name="Meter_Type" value = 'Electric - Grid'>
            Electric - Grid
          </div>
          <div>
            <input type="checkbox" name="Meter_Type" value = 'Natural Gas'>
            Natural Gas
          </div>
          <div>
            <input type="checkbox" name="Meter_Type" value = 'Fuel Oil'>
            Fuel Oil
          </div>
          <div>
            <input type="checkbox" name="Meter_Type" value = 'Other'>
            Other
          </div>
        </div>
        <div class="radioq1 col-4">
          <h5>Select either: </h5>
          <div>
            <input type="radio" name="ENERGY_SOURCE_KBTU_COST" value = "YEAR_ENERGY_SOURCE_KBTU_COST" id = "yearOption" onclick = "appearTxt()">
            Year
          </div>
          <div>
            <input type="radio" name="ENERGY_SOURCE_KBTU_COST" value = "MONTH_ENERGY_SOURCE_KBTU_COST" id = "monthOption" onclick = "appearTxt()">
            Month
          </div>
          <div>
            <input type="radio" name="ENERGY_SOURCE_KBTU_COST" value = "MINUTE_ENERGY_SOURCE_KBTU_COST" id = "15MOption" onclick = "appearTxt()">
            15 Minute
          </div>
        </div>

        <div class="fieldq1 col-4 ps-3" id = "base">
        </div>

        <div class="fieldq1 col-4" id = "yearSel" style = "display:none">
            <div>
            <h5> Please enter a starting year: </h5>
              <input type="number" name="yearSel_startyear" min="2009" max="2022" class="form-control w-50">
            </div>
            <div>
              <h5> Please enter an ending year: </h5>
                <input type="number" name="yearSel_endyear" min="2010" max="2022" class="form-control w-50">
            </div>
        </div>

        <div class="fieldq1 col-4" id = "monthSel" style = "display:none">
          <div>
            <h5> Please enter a starting month: </h5>
              <input type="number" name="monthSel_startmonth" min="1" max="12">
            </div>
            <div>
              <h5> Please enter an ending month: </h5>
                <input type="number" name="monthSel_endmonth" min="2" max="12">
            </div>
            <div>
              <h5> Please enter a year: </h5>
                <input type="number" name="monthSel_year" min="2009" max="2022">
            </div>
        </div>

	<div class="fieldq1 col-4" id = "minSel" style = "display:none">
          <div>
            <h5> Please enter a specific date: </h5>

              <input type="date" name="minSel_date">
            </div>
            <div>
              <h5> Please enter a starting time: </h5>
                <input type="time" name="minSel_starttime" min = "0:00">
            </div>
            <div>
              <h5> Please enter an ending time: </h5>
                <input type="time" name="minSel_endtime" min = "0:00">

            </div>
        </div>

      </div>
      <div class="row ps-2 m-auto col-4 mb-3">
        <div>
          <input type="checkbox" name="Meter_Cost" value = 'Meter Cost' class="m-auto" id="meterCheck" onclick = "appearCheck()">
          Show Meter Cost?
        </div>
      </div>
      <div class="row">
        <input type="submit" value="Submit" class="m-auto w-25 btn btn-primary">
      </div>  
        </form>
    </body>

    <!-- Sets the copyright symbol to be in the bottom center of screen -->
    <footer class="text-center">
      <hr>
      <a>© ESPA 2022</a>
    </footer>
</html>
